.container
{
  position: relative;
}

.background-blur
{
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 91vh;
  width: 100%;
}

.intro
{
  padding: 80px 80px;
  position: absolute;
  top: 0;
  color: white;
}